/* Header.module.css */
/* Customizations specific to the Portfolio project */

/* Background Pane styling for mobile navigation */
.bg-nav-mobile {
  background: rgba(240, 171, 252, 0.5); /* Slight transparency with bg-fuchsia-200 */
  -webkit-backdrop-filter: blur(20px); /* For Safari support */
  backdrop-filter: blur(20px); /* Blur effect for glassmorphism */
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 10px rgba(16, 1, 29, 0.8);
  border-radius: 0.5rem;
  padding: 1rem 0;
  transition: all 0.3s ease-in-out; /* Smooth transition */
}

/* Smooth dropdown animation */
nav {
  transition: all 0.3s ease-in-out;
}
