/* MetallicButton.module.css */
/* Customizations specific to the Portfolio project */

.metallic-btn {
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-weight: 500;
  font-size: 0.97rem;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  color: #10011d;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  min-height: 2rem;
  box-shadow: 0 4px 10px rgba(16, 1, 29, 0.4);
}

.metallic-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.metallic-btn .metallic-shine {
  position: absolute;
  top: 0;
  left: -75%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.3) 25%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.3) 75%
  );
  opacity: 0;
  transform: translateX(-100%) rotate(25deg);
  transition:
    transform 0.6s,
    opacity 0.6s;
}

.metallic-btn:hover .metallic-shine {
  opacity: 1;
  transform: translateX(200%) rotate(25deg);
}

.metallic-btn .metallic-text {
  position: relative;
  z-index: 1;
}

.cta-btn {
  max-width: 8rem;
  width: 100%;
  padding: 0.75rem 1.2rem;
  text-align: center;
  white-space: nowrap;
}

/* Gradient Variants */
.bg-green-gradient {
  background: linear-gradient(
    135deg,
    #4caf50 0%,
    #81c784 25%,
    #388e3c 50%,
    #81c784 75%,
    #4caf50 100%
  );
}

.bg-silver-gradient {
  background: linear-gradient(
    135deg,
    #bfc1c2 0%,
    #e7e9ec 25%,
    #f7f7f8 50%,
    #e7e9ec 75%,
    #bfc1c2 100%
  );
}

.bg-steelgreen-gradient {
  background: linear-gradient(
    135deg,
    #7c9d8e 0%,
    #a3b9af 25%,
    #627f72 50%,
    #a3b9af 75%,
    #7c9d8e 100%
  );
}

.bg-purple-gradient {
  background: linear-gradient(
    135deg,
    #86198f 0%,
    #d946ef 25%,
    #f0abfc 50%,
    #d946ef 75%,
    #86198f 100%
  );
}

.bg-mauve-gradient {
  background: linear-gradient(
    135deg,
    #9e7d8c 0%,
    #b898a4 25%,
    #805e6e 50%,
    #b898a4 75%,
    #9e7d8c 100%
  );
}
